html,body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	min-width: 1178px;
}

li,a{
	text-decoration: none;
	list-style: none;
}

/* 头部 */
.header-content{
			width:100%;
			height: 100px;
			line-height: 100px;
			background-color:#303035;
			border-bottom:1px solid #ccc;
		}
.header-content>.topNav{
	width:1178px;
	margin:auto;
	height:100px;
}	
.header-content>.topNav>.topNav-left{
	float:left;
}
.header-content>.topNav>.topNav-right{
	float:right;
}
.header-content>.topNav>.topNav-right>a{
	font-size:16px;
	color:#fff;

}
		
.header-content>.topNav>.topNav-left>a>img{
	height:100px;
	width:100px;
}

/* 页尾 */
.index-footer{
	height: 200px;
	min-width: 1178px; 
	background:#121212;
}

.index-footer>.footer-center{
	text-align: center;
	color: rgb(117,117,117);
}
.index-footer>.footer-center>.footer-title{
	border-bottom: 1px solid #D9D9D9;
	padding: 20px;
	color:#fff;
}
footer a{
	color:#999;
	padding:0 15px;
	font-size:15px;
}
footer a:hover{
	color: #FFFFFF;
}
.index-footer>.footer-center>.footer-foot{
	padding-top: 20px;
	font-size:15px;
}
/* 尾部 */
.add-footer{
	height: 200px;
}
.footer-top,.footer-bottom{
	text-align:center;
}
.footer_help{
	text-align:left;
}

.add-footer{
  background:url(../img/bg-footer.png) center center;
  background-size:100% 100%;
  border-top: 1px solid #ebebeb;
  color:#777;
  padding:20px 0;
  margin: 40px auto 0px auto;
  width:100%;
  }
  .footer-top,.footer-content,.footer_help{
	width:1178px;
	margin:5px auto; 
  }
.footer-top,.content_1>ul{
	display:flex;
	justify-content:left;
	align-items:left ;
}
.footer-top>.tabItems,.content_1>ul{
	line-height:40px;
}
.content_1>ul{
	line-height:60px;
}
.footer-top>ul>li,.content_1>ul>li{
	float:left;
    color: #757575;
    cursor: pointer;
    line-height:30px;
}
.footer-top>ul>li>a,.footer-content>.content_1>ul>li>a{
	color:#fff;
	/* padding:25px 15px; */
	text-decoration: none;
}
.footer-link{
	color:#fff;
	padding:25px 15px;
   	display:inline-block;
}
.footer-top>.nav-pills>li>a:hover{
	color:#fe5e0f;
}
.footer-content>.content_1>ul>li>a:hover{
	color:#fe5e0f;
}
.footer-top>ul>li>a:hover,.content_1>ul>li>a:hover{
	color:#fff;
}
.footer-top>ul>li>a:active{
	color:#fff;
	font-weight: 400;
}
.footer-top>ul>.footer-clear{
	clear:both;
}
.footer-hr{
	width:100%;
	height:1px;
	background: #4e4e4e;
	display:inline-block;
}
  .add-footer>.footer-bottom>a{
    display: inline-block;
    margin: 0 12px;
    color:#fff;
    padding:5px 0;
  }
 .add-footer>.footer_line>a:hover{
  	color:#ff8420;
  }
  .add-footer>.footer_line>a.error-report{
    color: #ff8420;
  }
   .add-footer>p{
    color: #999;
    font-size: 12px;
    line-height: 40px;
    padding-bottom:20px;
  }
   .add-footer>.footer_help{
	   font-size:15px;
	   color:#bbb;
   }
  .add-footer>.footer_help>a{
  	color:#fff;
  }
.footer_line a:hover,.add-footer a:hover{
	color:#fe5e0f;
}
/**导航栏部分***/
.topNav-left>ul>li{
	float:left;
	width:120px;
	height:100px;
	margin-top:-10px;
}
.topNav-left>ul>li>img{
	width:120px;
	height:120px;
}
.index-select{
	padding:5px 10px;
	border-radius: 5px;
	margin-top:45px;
}
.topNav-left>ul>li>form>.layui-input-block{
	line-height:100px;
	width:100%;
	height:100%;
	padding:10px;
	/* margin-top:40px; */
}
.topNav-line>.index-search>input{
	padding:7px 5px;
	font-size:15px;
	border-radius: 5px;
    /* margin: 12px 0 0 20px; */
    background: #fff;
    border: none;
	font-size:15px;
}
.topNav-line>.index-search>button{
	width:35px;
	padding: 7px 0;
	margin-left:-10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	border:none;
}
.topNav>.topNav-right>.login-icon {
    height: 30px;
    width: 30px;
    margin-top: 35px;
    padding: 0 10px;
}
.add-fc-p{
  position: relative;
  z-index: 500;
  width: 100%;
  background: #fff;
  color: #F57D00;
  box-shadow: 0 0 5px #5c6168;
  .fc-add-header{
    line-height: 46px;
    height: 46px;
    img{
      padding-top: 4px;
    }
    a{
      color: #F57D00;
      font-size: 12px;
      margin: 0 5px;
    }
    em{
      margin: 0 5px;
    }
  }
}
.index-detail{
	padding-top: 10px;
}
.index-detail>li{
	margin-right: 10px;
}
.index-detail a{
	padding:5px 10px;
	display:inline-block;
	background-color:#000;
}
.index-detail a:hover{
	padding:5px 10px;
	background-color:#bbb;
}
.footer-help>a{
	color:#fff;
	font-size:15px;
	padding:0 5px;
	line-height: 40px;
}