*{
	padding:0;
	margin:0;
	font-size:15px;
	color:#121212;
	text-decoration: none;
}
.contact-content{
	width:80%;
	margin:40px 10% 300px;
	/* border:1px solid #000; */
	vertical-align: center;
}
.contact-content>.contact-title{
	padding-bottom: 30px;
	line-height: 1.1;
	font-size: 24px;
	font-weight: 700;
	color: #ff5121;
}
.contact-box-line>.contact-line1{
	line-height:30px;
	text-indent:2em;
	font-weight: 400;
}
.contact-box-line>.corporate-culture{
	line-height:50px;
	font-weight: bold;
}
.contact-box-line>.contact-address{
   text-indent: 2em;
   line-height:60px;
}