			.detail-nav{
				width:100%;
				background-color:#303035;
			}
			.detail-nav>.topNav{
				width:1178px;
				margin:0 auto;
				display: flex;
				background-color:#303035;
				justify-content: space-between;
			}
			.topNav div:nth-child(2) {
			    font-size: 16px;
			    color: white;
			    display: flex;
			    font-size: 16px;
				height:80px;
				line-height:80px;
			}
			.layui-form{
				line-height:100px;
				margin-top:20px;
			}
			.layui-form>.layui-input-block{
				display:flex;
				justify-content: space-between;
			}
			.layui-form>.layui-input-block>.layui-btn{
				margin-left:5px!important;
			}
			.layui-form>.layui-input-block>.layui-input{
				width:300px !important;
				border-radius: 5px;
				font-size:14px;
			}
			.detail-nav>.topNav>.topNav-right{
				display:flex;
			}
			.topNav>.topNav-right>.topNav-line {
			    padding: 0 50px;
			}
			.topNav>.topNav-right>.topNav-line>a {
			    padding: 0 10px;
			    cursor: pointer;
				text-decoration: none;
				color: white;
			}
			.topNav>.topNav-right > .login-icon {
			    height: 30px;
			    width: 30px;
			    margin-top: 35px;
			    padding: 0 10px;
			}
			.topNav>.topNav-right > .login-icon {
			    height: 30px;
			    width: 30px;
			    margin-top: 25px;
			    padding: 0 10px;
			}
			.topNav a {
			    text-decoration: none;
			    color: white;
			}
			
			/*****弹出框样式****/
			.login-line {
			    margin-top: 20px;
			}
			.layui-form-item {
			    margin-bottom: 15px;
			    clear: both;
			    *zoom: 1;
			}
			.layui-form-label {
			    float: left;
			    display: block;
			    padding: 9px 15px;
			    width: 80px;
			    font-weight: 400;
			    line-height: 20px;
			    text-align: right;
			}
			.layui-input {
			    width: 75%!important;
			}
			#loginBtnText, #registerBtnText {
			    margin: 20px 0!important;
			}
			#xcxImgs{
			       position: absolute;
			       height: 100px;
			       width: 100px;
			       background: red;
			       right: 575px;
			       top: 65px;
			       display: none;
			}
			.topNav>.topNav-right>.topNav-line>#xcxImgs>img {
			    height: 100%;
			    width: 100%;
			}
			/****路径和搜索页面******/
			
			.detail-top{
				width: 1178px; 
				margin: auto; 
				box-sizing: border-box;
				line-height: 35px; 
				display: flex; 
				justify-content: space-between; 
				align-items: center;
			}
			
			.topNav>.topNav-left>a>.topNav-img {
			    height: 80px;
			    width: 100px;
			}
			.detail-top>.detail-left>a{
				font-size:15px;
				color:#777;
			}
			.detail-top>.detail-left>.detail-icon{
				font-weight: bold;
			}
			.detail-top>.detail-search{
				width: 500px;
				box-sizing: border-box; 
			    margin: auto; 
				display: flex;
				padding-top: 15px;
			}
			#hourmain{
				display: flex;
				width: 1178px;
				box-sizing: border-box;
				margin: auto;
			}
			
			#hourmain a:hover{
				color: white;
			}
			
			.infor-right p{
				padding: 8px 0px;
			}
			
			.layui-carousel{
				height: 372px!important;
			}
			
			.agent-box>div{
				margin-top: 30px;
				margin-left: 30px;
			}
			
			
			.layui-tab-content{
				padding: 0px;
			}
			
			.price-number{
				font-size: 3.2em;
				color: #fe615a;
				font-weight: 700;
			}
			
			.price-unit{
				font-size: 16px;
				color: #fe615a;
			}
			
			
			.sell-status{
			    height: 21px;
			    width: 40px;
			    background: rgb(6,116,68);
			    display: inline-block;
			    text-align: center;
			    border-radius: 5px;
			    color: white;
				/* vertical-align: bottom; */
			}
			
			.infor-right>p>span:nth-child(1){
				color: #aeaeae;
				display: inline-block;
				font-size: 18px;
			}
			
			
			ul>li{
				padding: 3px 0px;
			}
			
			ul>li>span{
				display: inline-block;
				width: 105px;
				color: #999;
				font-size: 14px;
			}
			
			.layWrap{
				 width: 1178px;
				 box-sizing: border-box;
				 margin: auto;
				 font-size: 15px;
				 margin-top: 50px;
				 line-height: 30px;
				 padding: 30px;
				 box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.1);
			}
			.phone-box p{
				padding: 0px;
			}