*{
	padding:0;
	margin:0;
	font-size:15px;
	color:#121212;
	text-decoration: none;
}
.user-agree-content{
	width:60%;
	margin:40px 20% 150px;
	/* border:1px solid #000; */
	vertical-align: center;
	line-height:50px;
}
.user-agree-content>.user-agree-title{
	padding-bottom: 30px;
	line-height: 1.1;
	font-size: 24px;
	font-weight: 700;
	color: #ff5121;
}
.user-agree-content>.user-agree-line{
	line-height:30px;
	text-indent:2em;
	font-weight: 400;
}
